/** css reset */
* {
  box-sizing: border-box;
}

html,
body,
div,
nav,
textarea,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  vertical-align: baseline;
  font: inherit;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

textarea {
  outline: none;
  resize: none;
}

input:focus {
  outline: none;
}

/** css tokens */
:root {
  --naver-green: #00c73c;
  --background-color: #f9f9f9;
  --card-background: #f7f9fa;
  --button-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
}
