@import './common.css';

/** container related css */
.container-background {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}
.spinbox-container {
  width: 90%;
  height: 90%;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: grid;
  grid-template-rows: 5fr 1fr;
}
.spinbox-window {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 10px;
  padding: 1em;
  overflow-y: scroll;
}
.add-spinbox-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

/** button related css */
.button-common {
  width: 22%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  box-shadow: var(--button-shadow);
  font-size: 2rem;
}
.square-button {
  border-radius: 4px;
}
.high {
  background-color: var(--naver-green);
  border: 1px solid var(--naver-green);
  color: #fff;
}
.low {
  color: var(--naver-green);
  border: 1px solid var(--naver-green);
}

/** spinbox card related css */
.card-container {
  display: flex;
  justify-content: space-between;
  padding: 0.7em;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.input-window {
  width: 50%;
  border: 2px dashed #bababa;
  text-align: center;
  font-size: 2rem;
}
/** input-window size control */
.small {
  width: 240px;
  height: 40px;
}
.small .input-window {
  font-size: 1rem;
}

@media screen and (max-width: 1400px) {
  .spinbox-window {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 950px) {
  .spinbox-window {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .spinbox-window {
    grid-template-columns: 1fr;
  }
}
